---
import { Image } from "@astrojs/image/components";
import Layout from "../../layouts/Layout.astro";

const projects = await Astro.glob("./*.md");
---

<Layout title="Projekter fra Præg Studio">
  <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8 2xl:grid-cols-4">
    {
      projects.map((project) => {
        const { frontmatter, url } = project;
        return (
          <a href={url} class="group relative overflow-hidden">
            <Image
              src={frontmatter.images[0]}
              format="webp"
              width="768"
              aspectRatio="4:3"
              alt={frontmatter.title}
              class="transition-transform duration-300 ease-out group-hover:scale-105"
            />
            <div class="duration-400 absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 opacity-0 transition-opacity group-hover:opacity-100">
              <h2 class="translate-y-2 text-xl font-medium text-white transition-transform duration-300 group-hover:translate-y-0">
                {frontmatter.title}
              </h2>
            </div>
          </a>
        );
      })
    }
  </div>
</Layout>
