---
import { Image } from "@astrojs/image/components";
import classNames from "classnames";
import Layout from "../../layouts/Layout.astro";

const projects = await Promise.all([
  Astro.glob("./villa-i-silkeborg.md"),
  Astro.glob("./suderbaekgaard-nye-avlsbygninger.md"),
  Astro.glob("./villa-i-silkeborg-3.md"),
  Astro.glob("./villa-i-soehoejlandet-2.md"),
  Astro.glob("./villa-i-vedbaek.md"),
  Astro.glob("./villa-i-midtjylland.md"),
  Astro.glob("./landsted-paa-sjaelland.md"),
  Astro.glob("./administration.md"),
  Astro.glob("./villa-i-soehoejlandet.md"),
  Astro.glob("./villa-i-silkeborg-renovering.md"),
  Astro.glob("./villa-i-silkeborg-2.md"),
  Astro.glob("./villa-i-ikast.md"),
  Astro.glob("./villa-i-trekantsomraadet.md"),
  Astro.glob("./kontormiljoe-i-midtjylland.md"),
  Astro.glob("./villa-ved-limfjorden.md"),
  Astro.glob("./villa-ved-vesterhavet.md"),
  Astro.glob("./villa-i-silkeborg-4.md"),
  Astro.glob("./villa-i-nordsjaelland.md"),
  Astro.glob("./sommerhus-ved-vesterhavet.md"),
  Astro.glob("./villa-i-hellerup.md"),
]);
---

<Layout title="Projekter fra Præg Studio">
  <div class="projects space-y-4 md:space-y-0 md:grid grid-cols-3 gap-12">
    {
      projects.map(([project], i) => {
        const { frontmatter, url } = project;
        return (
          <a
            href={url}
            class={classNames(
              "group relative flex items-center justify-center overflow-hidden bg-gray-100",
              i === 0 && "col-span-2 row-span-2",
              i === 1 && "row-span-2",
              i === 2 && "row-span-2",
              i === 3 && "col-span-2",
              i === 4 && "col-span-2 row-span-2",
              i === 6 && "col-span-3",
              i === 7 && "col-span-2 row-span-2",
              i === 8 && "row-span-2",
              i === 9 && "col-span-3 row-span-2",
              i === 10 && "col-span-2 row-span-2",
              i === 11 && "row-span-2",
              i === 13 && "col-span-2 row-span-2",
              i === 15 && "col-span-3 row-span-2",
              i === 17 && "col-span-2 row-span-2",
              i === 19 && "col-span-2 row-span-2",
              i === 20 && "row-span-2"
            )}
          >
            <Image
              src={frontmatter.images[0]}
              alt={frontmatter.title}
              class="h-full w-full object-cover transition-transform duration-300 ease-out hover:scale-105"
              width={
                [6, 9, 15].includes(i)
                  ? 1920
                  : [0, 3, 4, 7, 9, 10, 13, 17, 19].includes(i)
                  ? 1280
                  : 640
              }
              aspectRatio={
                [1, 2, 8, 11, 20].includes(i)
                  ? "4:6"
                  : [3].includes(i)
                  ? "8:3"
                  : [9, 15].includes(i)
                  ? "12:6"
                  : [6].includes(i)
                  ? "12:3"
                  : "4:3"
              }
              position="entropy"
              loading={[0, 1].includes(i) ? "eager" : "lazy"}
            />
            <p class="absolute bottom-8 left-8 uppercase leading-none tracking-wider text-white shadow">
              {frontmatter.short}
            </p>
          </a>
        );
      })
    }
  </div>
</Layout>

<style>
  .projects {
    /* grid-template-rows: repeat(auto-fit, 480px); */
    grid-auto-rows: calc((100vw / 3 - theme(spacing[16])) * 0.75);
  }
</style>
