---
import { Image } from "@astrojs/image/components";
import Header from "../../components/Header.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Projekter fra Præg Studio">
  <Header />
  <div class="grid grid-cols-3 gap-8">
    <div class="flex row-span-2 col-span-2">
      <Image
        src="/hero.webp"
        format="webp"
        quality="100"
        width="1280"
        aspectRatio="4:3"
        alt="Villa i Silkeborg"
      />
    </div>
    <div>
      <Image
        src="/hero.webp"
        format="webp"
        quality="100"
        width="640"
        aspectRatio="4:3"
        alt="Villa i Silkeborg"
      />
    </div>
    <div>
      <Image
        src="/hero.webp"
        format="webp"
        quality="100"
        width="640"
        aspectRatio="4:3"
        alt="Villa i Silkeborg"
      />
    </div>
    <div>
      <Image
        src="/hero.webp"
        format="webp"
        quality="100"
        width="640"
        aspectRatio="4:3"
        alt="Villa i Silkeborg"
      />
    </div>
    <div>
      <Image
        src="/hero.webp"
        format="webp"
        quality="100"
        width="640"
        aspectRatio="4:3"
        alt="Villa i Silkeborg"
      />
    </div>
    <div>
      <Image
        src="/hero.webp"
        format="webp"
        quality="100"
        width="640"
        aspectRatio="4:3"
        alt="Villa i Silkeborg"
      />
    </div>
    <div>
      <Image
        src="/hero.webp"
        format="webp"
        quality="100"
        width="640"
        aspectRatio="4:3"
        alt="Villa i Silkeborg"
      />
    </div>
    <div>
      <Image
        src="/hero.webp"
        format="webp"
        quality="100"
        width="640"
        aspectRatio="4:3"
        alt="Villa i Silkeborg"
      />
    </div>
    <div>
      <Image
        src="/hero.webp"
        format="webp"
        quality="100"
        width="640"
        aspectRatio="4:3"
        alt="Villa i Silkeborg"
      />
    </div>
    <div>
      <Image
        src="/hero.webp"
        format="webp"
        quality="100"
        width="640"
        aspectRatio="4:3"
        alt="Villa i Silkeborg"
      />
    </div>
    <div>
      <Image
        src="/hero.webp"
        format="webp"
        quality="100"
        width="640"
        aspectRatio="4:3"
        alt="Villa i Silkeborg"
      />
    </div>
    <div>
      <Image
        src="/hero.webp"
        format="webp"
        quality="100"
        width="640"
        aspectRatio="4:3"
        alt="Villa i Silkeborg"
      />
    </div>
    <div>
      <Image
        src="/hero.webp"
        format="webp"
        quality="100"
        width="640"
        aspectRatio="4:3"
        alt="Villa i Silkeborg"
      />
    </div>
    <div>
      <Image
        src="/hero.webp"
        format="webp"
        quality="100"
        width="640"
        aspectRatio="4:3"
        alt="Villa i Silkeborg"
      />
    </div>
  </div>
</Layout>
