---
import { Image, Picture } from "@astrojs/image/components";
import Layout from "../layouts/Layout.astro";

import "../../node_modules/@glidejs/glide/src/assets/sass/glide.core.scss";
import Icon from "astro-icon";
---

<Layout title="Præg Studio">
  <main class="flex-1 relative">
    <div class="glide">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides space-y-4 md:space-y-0">
          <li class="glide__slide">
            <a href="projekter/villa-i-silkeborg-renovering">
              <Picture
                src="/villa-i-silkeborg-renovering/MADS0711.jpg"
                widths={[400, 800, 1200, 1600, 2000]}
                aspectRatio={16 / 9}
                alt="Villa i Silkeborg"
                loading="eager"
                formats={["webp"]}
                sizes="100vw"
                width="1920"
                height="1280"
              />
            </a>
          </li>
          <li class="glide__slide">
            <a href="projekter/villa-i-silkeborg">
              <Picture
                src="/villa-i-silkeborg/Præg%20Studio_ankomst%20aften.jpg"
                widths={[400, 800, 1200, 1600, 2000]}
                aspectRatio={16 / 9}
                alt="Villa i Silkeborg"
                loading="eager"
                formats={["webp"]}
                sizes="100vw"
                width="1920"
                height="1280"
              />
            </a>
          </li>
          <li class="glide__slide">
            <a href="projekter/villa-i-silkeborg-2">
              <Picture
                src="/villa-i-silkeborg-2/Præg%20Studio_ankomst.jpg"
                widths={[400, 800, 1200, 1600, 2000]}
                aspectRatio={16 / 9}
                alt="Villa i Silkeborg"
                loading="eager"
                formats={["webp"]}
                sizes="100vw"
                width="1920"
                height="1280"
              />
            </a>
          </li>
        </ul>
      </div>
      <div data-glide-el="controls" class="hidden md:block">
        <button
          class="absolute top-0 bottom-0 left-0 w-24 group transition-colors hover:bg-white hover:bg-opacity-10"
          data-glide-dir="<"
        >
          <Icon
            name="iconoir:nav-arrow-left"
            class="w-12 h-12 mx-auto text-white transition-transform group-hover:scale-125"
          />
          <span class="sr-only">Forrige billede</span>
        </button>
        <button
          class="absolute top-0 bottom-0 right-0 w-24 group transition-colors hover:bg-white hover:bg-opacity-10"
          data-glide-dir=">"
        >
          <Icon
            name="iconoir:nav-arrow-right"
            class="w-12 h-12 mx-auto text-white transition-transform group-hover:scale-125"
          />
          <span class="sr-only">Næste billede</span>
        </button>
      </div>
    </div>
  </main>
</Layout>

<script>
  import Glide from "@glidejs/glide";

  let glide: any;

  function doCarousel() {
    console.log(window.innerWidth, !!glide);
    if (window.innerWidth >= 768 && !glide) {
      glide = new Glide(".glide", {
        gap: 0,
        hoverpause: true,
        autoplay: false,
      }).mount();
    } else if (window.innerWidth < 768 && glide) {
      glide.destroy();
      glide = null;
    }
  }

  window.addEventListener("resize", () => doCarousel());

  doCarousel();
</script>

<style>
  @media (max-width: 767px) {
    .glide__slides {
      display: block;
    }
  }

  @media (min-width: 768px) {
    /* header and footer are both 24 units tall so we know to subtract 48 to make images fit nicely */
    .glide__slide img {
      height: calc(100vh - theme(spacing[48]));
      object-fit: cover;
    }
  }
</style>
