---
import { Image, Picture } from "@astrojs/image/components";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";

import "../../node_modules/@glidejs/glide/src/assets/sass/glide.core.scss";
import Icon from "astro-icon";
---

<Layout title="Welcome to Astro.">
  <main class="flex-1 relative">
    <div class="glide">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          <li class="glide__slide">
            <Image
              src="/hero.webp"
              format="webp"
              width="1920"
              height="1280"
              alt="descriptive text"
            />
          </li>
          <li class="glide__slide">
            <Image
              src="/hero.webp"
              format="webp"
              width="1920"
              height="1280"
              alt="descriptive text"
            />
          </li>
          <li class="glide__slide">
            <Image
              src="/hero.webp"
              format="webp"
              width="1920"
              height="1280"
              alt="descriptive text"
            />
          </li>
        </ul>
      </div>
      <div data-glide-el="controls">
        <button
          class="absolute top-0 bottom-0 left-0 w-24 group transition-colors hover:bg-white hover:bg-opacity-10"
          data-glide-dir="<"
        >
          <Icon
            name="iconoir:nav-arrow-left"
            class="w-12 h-12 mx-auto text-white transition-transform group-hover:scale-125"
          />
        </button>
        <button
          class="absolute top-0 bottom-0 right-0 w-24 group transition-colors hover:bg-white hover:bg-opacity-10"
          data-glide-dir=">"
        >
          <Icon
            name="iconoir:nav-arrow-right"
            class="w-12 h-12 mx-auto text-white transition-transform group-hover:scale-125"
          />
        </button>
      </div>
    </div>
  </main>
</Layout>

<script>
  import Glide from "@glidejs/glide";
  new Glide(".glide", {
    gap: 0,
    hoverpause: true,
    autoplay: false,
  }).mount();
</script>

<style>
  /* header and footer are both 24 units tall so we know to subtract 48 to make images fit nicely */
  .glide__slide img {
    height: calc(100vh - theme(spacing[48]));
    object-fit: cover;
  }
</style>
