---
import { Icon } from "astro-icon";
---

<nav class="h-24 flex justify-between items-center">
  <a href="/">
    <picture>
      <!-- <source
          srcset="/praegstudio-white.svg"
          media="(prefers-color-scheme: dark)"
        /> -->
      <img src="/praegstudio-black.svg" class="h-8" />
    </picture>
  </a>
  <div
    class="dark:text-white space-x-12 uppercase tracking-widest text-sm absolute left-1/2 -translate-x-1/2"
  >
    <a href="/projekter">Projekter</a>
    <a href="/boligkøb-i-blinde">Boligkøb i blinde</a>
    <a href="/kontakt">Kontakt</a>
  </div>
  <div class="space-x-2 flex">
    <a
      href="https://da-dk.facebook.com/praegstudio/"
      target="_blank"
      class="p-2 rounded-full border border-gray-700 dark:border-gray-600 dark:text-white hover:text-gray-100 hover:scale-105 transition"
    >
      <Icon name="iconoir:facebook" class="w-4 h-4" />
    </a>
    <a
      href="https://www.instagram.com/praeg_studio/?hl=da"
      target="_blank"
      class="p-2 rounded-full border border-gray-700 dark:border-gray-600 dark:text-white hover:text-gray-100 hover:scale-105 transition"
    >
      <Icon name="iconoir:instagram" class="w-4 h-4" />
    </a>
  </div>
</nav>
